<div class="login-container">
    <div class="header">
        <div class="container">
            <img src="{{getResourceUrl('/images/logo.png')}}">
            <span class="login-title">Insight ML</span>
            <p class="help-block"><i class="fa fa-volume-control-phone"></i> 400-860-0011</p>
        </div>
    </div>
    <div class="login-body">
        <div class="container">
            <div class="login-bg-banner"></div>
            <div class="login-box">
                <div class="login-box-layer"></div>
                <form class="login-form form-horizontal" id="login-form" method="post" role="form" autocomplete="off">
                    <input class="form-control" type="text" style="visibility:hidden;width:1px;margin-top:-35px"/>
                    <input class="form-control" type="password" style="visibility:hidden;width:1px;margin-top:-35px"/>
                    <div class="input-group">
                        <span class="login-icons login-icon-input login-icon-user">
                            <i class="login-icons login-icon-br"></i>
                        </span>
                        <input class="form-control" id="username" name="username" type="text" placeholder="用户名"/>
                    </div>
                    <div class="input-group">
                        <span class="login-icons login-icon-input login-icon-pwd">
                            <i class="login-icons login-icon-br"></i>
                        </span>
                        <input class="form-control" id="password" name="password" type="password" placeholder="密码"/>
                    </div>
                    <button class="btn btn-login" id="login-btn" type="button">登&emsp;&emsp;录</button>
                </form>
            </div>
        </div>
    </div>
    <div class="login-footer">
        <div class="login-bg-cloud"></div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="control-label">技术支持：</label>
                <p class="form-control-static">浪潮信息</p>
            </div>
            <div class="form-group">
                <label class="control-label">版权信息：</label>
                <p class="form-control-static">Copyright 2010 - 2017 INSPUR</p>
            </div>
        </form>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="control-label">
                    <i class="fa fa-shopping-cart"></i>购买咨询：
                </label>
                <p class="form-control-static">800-860-6708，400-860-6708</p>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <i class="fa fa-volume-control-phone"></i>服务热线：
                </label>
                <p class="form-control-static">400-860-0011</p>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <i class="fa fa-envelope-o"></i>联系邮箱：
                </label>
                <p class="form-control-static">sv_str@inspur.com</p>
            </div>
        </form>
    </div>
</div>