<div class="page-header">
	<div class="page-title">
		<h3>系统检测</h3>
		<em>System Check</em>
	</div>
	<div class="page-desc">
		<p>帮助您检查系统是否正常运行。</p>
	</div>
</div>
<div class="page-body">
	<form class="form-horizontal" >
    	<div class="form-group">
			<a class="btn btn-primary">系统检测</a>
		</div>
	    <div class="form-group">
	        <div class="col-sm-8">
	            <textarea class="form-control" name="checkInfo" id="checkInfo" rows="20" readonly="true"/>
	        </div>
	    </div>
	</form>
</div>