<div class="form-group">
	<div class="form-group">
		<!-- 基本信息 -->
		<div class="form-fieldset">
			<fieldset>
				<form class="form-horizontal">
				<div class="form-group form-required">
					<label class="control-label col-sm-3">用户名：</label>
					<div class="col-sm-8">
						<input class="form-control" name="user_name" id="user_name" readonly="true"/>
					</div>
				</div>
				<div class="form-group form-required">
					<label class="control-label col-sm-3">密码：</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" name="user_password" data-toggle="pwd-masked"
							id="user_password" />
					</div>
				</div>
				<div class="form-group form-required">
			        <label class="control-label col-sm-3">确认密码：</label>
			        <div class="col-sm-8">
			            <input type="password" class="form-control" id="confirmpwd" name="confirmpwd" data-toggle="pwd-masked">
			        </div>
			    </div>
			
				</form>
			</fieldset>
		</div>
	</div>
</div>
