<div class="page-header">
    <div class="page-title">
        <h3>ML模型</h3>
        <em>Machine Learning Model</em>
    </div>
    <div class="page-desc">
        <p>您可以查看并下载已发布的ML模型，并使用Rest API进行在线或批量预测。
            <!-- <br/>您可以将这些资源直接共享给其他数据空间，或者设置为开放状态以允许其他数据空间进行订阅。共享和订阅均授予【读】权限。</p>
             -->
    </div>
</div>
<div class="page-body">
    <div class="table-top clearfix" id="table-model-overview_top">
        <div class="pull-left">
            <a class="btn btn-reload"></a> <!-- <a class="btn btn-add">新建模型</a> -->
        </div>
        <div class="pull-right">
            <label>
                <!--
                <input type="search" name="name" class="form-control input-sm table-filter" placeholder="项目名称">
                <a class="btn btn-search"></a>
                 -->
                <input type="hidden" name="status" class="form-control input-sm table-filter"
                       value="ENABLE">

            </label>
        </div>
    </div>
    <table class="table table-primary table-striped" id="table-model-overview">
        <thead>
        <tr>
            <th><label><input type="checkbox" class="selectAll"></label></th>
            <th>ID</th>
            <th>名称</th>
            <th>类型</th>
            <th>实验</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>